html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.travel-section {
    display: flex;
    flex-wrap: wrap;
}

.travelCard {
    width: 300px;
    height: 500px;
    margin: 10px;
}
.travelPhoto {
    width: 100%
}
.inline {
    display: inline-block;
}