@model Travel

<h1>Ecco il tuo prossimo viaggio:</h1>
<div class="travelCard">
    <span class="invisible">model.count</span>
    <div class="travelPhoto">
        <img src="model.Photo">
    </div>
    <h2>model.Name</h2>
    <p>model.Description</p>
    <p>Giorni totali del viaggio: model.Day</p>
    <p>Destinazioni del viaggio: model.Destination</p>
    <p>Prezzo: model.Price €</p>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>