<h1>Le nostre proposte viaggio</h1>

<body onload="cerca()">
    <div class="container">
        <input class="js-search" type="text" placeholder="Cerca " />
        <div class="row">
        </div>
    </div>
    <div class="row js_no_post text-center d-none">
        <div class="col-12">
            <h3>Non hai ricercato alcun viaggio</h3>
        </div>
    </div>
    <div class="travel-section">
        <div class="travelCard">
            @*el*@
        </div>
    </div>
</body>


<script type="text/javascript">
    const travel = document.querySelector(".travel-section");
    const Search = document.querySelector(".js-search")
    let list;
    Search.addEventListener("keyup", cerca)
    function cerca() {
        let name = this.value;
        risultati(name);
    }
    function risultati(name) {
        axios.get("/api/TravelApi/Get", {
            params: {
                name: name
            }
        })
            .then(function (response) {
                console.log(response);
                list = response.data;
                if (list.length > 0) {
                    travel.innerHTML = ""
                    list.forEach(el => {
                        travel.innerHTML +=
                            `  <div class="col-12 col-md-4 p-2">
                                            <div class="card post h-100">
                                                <img src="${el.photo}" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                        <h5 class="card-title">${el.name}</h5>
                                                        <p class="card-text">${el.description}</p>
                                                        <p class="card-text">Durata viaggio: ${el.day}</p>
                                                        <p class="card-text">Destinazioni: ${el.destination}</p>
                                                        <p class="card-text">Prezzo: ${el.price} €</p>
                                                        <td>
                                                            <a href="/Home/Details/${travel.id}" class="btn btn-outline-info">Visualizza</a>
                                                        </td>
                                                </div>
                                              </a>
                                            </div>
                                        </div>`
                    })
                } else {
                    travel.innerHTML = "<h1>Attualmente non vi è alcun viaggio</h1>"
                }
            })
            .catch(function (error) {
                console.log(error);
            })
    }

</script>