
<h1>I nostri viaggi</h1>

<body onload="cerca()">
    <div class="container">
        <input class="js-search" type="text" placeholder="Cerca" />
        <div class="row">
        </div>
    </div>
    <div class="row js_no_post text-center d-none">
        <div class="col-12">
            <h3>Non è selezionato alcun viaggio</h3>
        </div>
    </div>
    <div class="travelContainer">
        @*qui verranno mostrati gli elementi*@
    </div>
</body>

<script type="text/javascript">
    const Travel = document.querySelector(".travelContainer");
    const Search = document.querySelector(".js-search")
    let list;
    Search.addEventListener("keyup", cerca)
    function cerca() {
        let Name = this.value;
        risultati(Name);
    }
    function risultati(Name) {
        axios.get("/api/TravelApi/Get", {
            params: {
                Name: Name
            }
        })
            .then(function (response) {
                console.log("Nessun viaggio trovato", response);
                response.data.forEach(travel => {
                    Travel.innerHTML +=
                            `
                                <div class="travelCard">
                                    <span class="invisible">${el.count}</span>
                                <div class="travelPhoto">
                                            <img src="${el.Photo}">
                                </div>
                                        <h2>${el.Name}</h2>
                                        <p>${el.Description}</p>
                                        <p>Giorni totali del viaggio: ${el.Day}</p>
                                        <p>Destinazioni del viaggio: ${el.Destination}</p>
                                        <p>Prezzo: ${el.Price} €</p>
                            </div>
                            `
                    } )
                } else {
                    Travel.innerHTML = "<h1>non ci sono viaggi</h1>"
                }
            })
            .catch(function (error) {
                console.log(error);
            })
    }

</script>